Host *
	ForwardX11   yes
        ForwardAgent yes
	StrictHostKeyChecking no
	UserKnownHostsFile /dev/null

Host home* home
	LocalForward 8888 localhost:88
	ForwardAgent yes
	ExitOnForwardFailure yes

Host homeon
	RemoteForward 2200 localhost:22
	ControlMaster yes
	ControlPersist yes
	ControlPath ~/.ssh/home.ctl
	
Host homeoff 
	ControlPath ~/.ssh/home.ctl

Host github.com
        User git
        IdentityFile ~/.ssh/github
        ForwardAgent yes
